body {
    min-height:100vh;

}
.stickyfooter {
    
    position:relative;
    position:sticky;
    top:0%;
}
.footer-content {
    display:grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-column-gap:1px;
    background-color: grey;
    height: 200px;
}
.footer-bottom {
    text-align: center;
    background-color: darkslategray;
    width:100%;
    position:absolute;
}